.git
.github
data
dist
landing
*.md
!config.example.yml
.env
.env.*
!.env.example
config.yml
portal
tgportal
*.test
coverage.*
context
.idea
.vscode
landing/node_modules
landing/.svelte-kit
landing/build
